@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}

h1 {
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: center;
}

th, td {
  padding: 15px;
  text-align: center;
}

button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 60px;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}
